header {
    width: 100%;
}
main {
    min-height: 530px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.h2 {
     width: 100%;
}
section {
    width: 80%;
    min-height: 500px;
}
section img {
    width: 50%;
}


input[type="text"], input[type="radio"] {
    display: block;
}
input[type="radio"] {
    float: left;
}
input[type="text"] {
    width: 70%;
}

form {
    display: grid;
    grid-template-rows: 30% 10% 10% 10% 10% 30%;
}