<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/searches" method="POST">
        <input type="text" name="search" id="search" placeholder="Enter a Book title or an author name">
        <input type="radio" name="title" id="title" value="title">
        <label for="title">Search by Title</label><br>
        <input type="radio" name="author" id="author" value="author">
        <label for="author">Search by Author</label><br>
        <input type="submit" id="submit">
    </form>
</body>
</html>