<footer>
        
    <a href="#">
        <i class="far fa-envelope"></i>
    </a>
    <a href="#">
        <i class="fab fa-twitter-square"></i>
    </a>
    <a href="#">
        <i class="fab fa-github-square"></i>
    </a>
    <a href="#">
        <i class="fab fa-linkedin"></i>
    </a>
</footer>