<header>
    <h1>Best Books !</h1>
    <div class="topnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="myLinks">
        <a href="./searches/new">Search for books</a>
        <a href="./">Home</a>
    </div>
        
</div>
</header>